@model BookingSystem.Model.Admin

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
    <title>Booking airline tickets</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#username").val("");
        });
    </script>
</head>
<body>

    <h2>Index</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-horizontal">
            <h4>Admin</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.username, new { @class = "form-control", @id = "username" } )
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.password,  new { @class = "form-control", @id = "password" } )
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sign in" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div>
            @if (ViewBag.LoginFail)
            {
                <p style="color:red">Wrong username and/or password</p>
            }
        </div>
    }

    <div>
        @Html.ActionLink("Back to main", "Index", "Home")
        @Html.ActionLink("Log out", "LogOut")
    </div>
    </body>
</html>
